<%- include('partials/header.ejs')%>

    <body>
        <%- include('partials/navbar.ejs')%>
            <div class="container">
                <div class="card" id="formulario-pergunta">
                    <div class="card-header">
                        <h3>
                            <%=pergunta.titulo%>
                        </h3>
                    </div>
                    <div class="card-body">
                        <%=pergunta.descricao%>
                    </div>
                    <div class="card-footer">
                        <form action="" method="POST">
                            <textarea name="corpo" class="form-control"></textarea>
                        </form>
                    </div>
                </div>
            </div>
    </body>

    <%- include('partials/footer.ejs')%>